= form_for [@event, @recap] do |f|
  - if @recap.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recap.errors.count, "error")} prohibited this event_recap from being saved:"
      %ul
        - @erecap.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    =f.hidden_field :is_reviewed, required: :true, :value => false
  .field.form-group
    =f.label :attendance
    =f.number_field :attendance
  .field.form-group
    =f.label :description
    =f.text_area :description
  .actions
    =f.submit 'Save', class: 'btn btn-primary btn-sm'
