.field
  =form.label :title, "Title"
  =form.text_field :title

.field
  =form.label :description, "Description"
  =form.text_field :description

.field
  =form.label :address, "Address"
  =form.text_field :address

.field
  = form.label :datetime, "Date and Time"
  = form.datetime_field :datetime
