%h2.header Home
%p.location-link= link_to "Locations", locations_url
%p.event-link= link_to "Events", events_url
%br
%p
    %strong= link_to "Add your event here!", new_event_url
%p
    %strong= link_to "Add new location!", new_location_url
