#main
  %h2.header Create a New Event!

  =form_for @event, :method => :put do |f|
    =render 'event_form_template', form: f
    .field
      =link_to "Back to event", event_path(@event.id), class: 'btn btn-outline-primary btn-sm'
      =f.submit "Update event details", class: 'btn btn-primary btn-sm'
