%h2 Upcoming Events
=form_tag events_path, :class => 'filter-form', :method => :get do
  =label_tag "tag_filter", "Filter by tags:"
  =select_tag :tag, options_for_select(@all_tags, :multiple =>true), include_blank: true, class: "form-control col-xs-3"
  =submit_tag "Refine the list of events", class: 'btn btn-primary filter-btn'
  = link_to "Clear tags", events_path, class: 'btn btn-primary filter-btn'

- unless @upcoming_events.empty?
  = render "events/list_events", events: @upcoming_events
- else
  %em No events found

%br
= link_to "Back to Home", root_url,  class: 'btn btn-outline-primary btn-sm home-link'
= link_to "Add new event", new_event_url, class: 'btn btn-primary btn-sm'
