%h2 Upcoming Events
- unless @upcoming_events.empty?
    = render "events/list_events", events: @upcoming_events
- else
    %em No events found

%br
= link_to "Back to Home", root_url,  class: 'btn btn-outline-primary btn-sm home-link'
= link_to "Add new event", new_event_url, class: 'btn btn-primary btn-sm'
