$bg-light: #FAFAFA;
$bg-dark: #AFAFAF;

$text-color: #424651;
$text-color-light: #3C3635;
$font: 'Open Sans', sans-serif;

$primary-color: #726DA8;
$primary-color-dark: #53507B;

$secondary-color: #39A0ED;
$secondary-color-dark: #2A75AD;
