/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

// For more information about the scss syntax and the sass language, go to http://sass-lang.com/guide
// I think it's fine to use vanilla CSS in an scss file, but there are many advantages to using SCSS
// over regular CSS

// Colors taken from "Outdoor Fun" theme on http://color.adobe.com
$primary-color: #A33804;
$secondary-color: #DCA212;
$tertiary-color: #C6C962;
$quarternary-color: #94B92B;
$quinary-color: #90BDA8;
$bg-light: #FAFAFA;
$bg-dark: #AFAFAF;

$title-color: $quarternary-color;
$subtitle-color: $secondary-color;
$emphasis-color: $tertiary-color;
$object-color: $tertiary-color;
$highlight-color: $quinary-color;
$paragraph-color: #666666;
$alternate-color: $primary-color;

$text-color: #424651;
$text-color-light: #3C3635;
$admin-color: #4784C1;
$font: 'Open Sans', sans-serif;

// Text Styling
h1, h2 {
    color: $text-color;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

h3 {
    color: $text-color;
    margin-bottom: 20px;
}

p {
    color: $text-color-light;
}

.subtitle {
    color: $text-color-light;
}

body {
    background-color: $bg-light;
    font-family: $font
}

// Other styling
.container.content-wrapper {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 800px;
}

// .btn-primary {
//     @extend .btn-primary;
//     background-color: $title-color;
//     border-color: $title-color;
//     color: white;
// }

// .btn-primary:hover {
//     background-color: white;
//     color: $title-color;
//     border-color: $title-color;
// }

// .btn-primary:active {
//     background-color: $title-color;
//     color: white;
// }

// .btn-secondary {
//     @extend .btn-secondary;
//     background-color: $highlight-color;
//     border-color: $highlight-color;
//     color: white;
// }

// .btn-secondary:hover {
//     background-color: white;
//     color: $highlight-color;
//     border-color: $highlight-color;
// }
//
// .btn-secondary:active {
//     background-color: $highlight-color;
//     color: white;
// }


.filter-form {
    margin: 30px 30px;
}

.filter .form-control {
    display: inline;
}

.filter .filter-submit {
    margin-top: 25px;
}

.navbar {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.navbar-text.admin-text {
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: $admin-color;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  text-align: center;
}
