/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'colors';

// For more information about the scss syntax and the sass language, go to http://sass-lang.com/guide
// I think it's fine to use vanilla CSS in an scss file, but there are many advantages to using SCSS
// over regular CSS

// Text Styling
h1, h2 {
    color: $text-color;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

h3, h4 {
    color: $text-color;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    color: $text-color-light;
}

.subtitle {
    color: $text-color-light;
}

body {
    background-color: $bg-light;
    font-family: $font
}

// Other styling
.container.content-wrapper {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 800px;
}

.btn-primary {
    @extend .btn-primary;
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
}

.btn-primary:hover {
    background-color: $primary-color-dark;;
    border-color: $primary-color-dark;
    color: white;
}

.btn-outline-primary {
  @extend .btn-outline-primary;
  background-color: white;
  border-color: $primary-color;
  color: $primary-color;
}

.btn-outline-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}

// .btn-primary:active {
//     background-color: $title-color;
//     color: white;
// }

.btn-secondary {
    @extend .btn-secondary;
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: white;
}

.btn-secondary:hover {
    background-color: $secondary-color-dark;
    border-color: $secondary-color-dark;
    color: white;
}

.btn-outline-secondary {
  @extend .btn-outline-secondary;
  background-color: white;
  border-color: $secondary-color;
  color: $secondary-color;
}

.btn-outline-secondary:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}

// .btn-secondary:active {
//     background-color: $highlight-color;
//     color: white;
// }


.filter-form {
    margin: 30px 30px;
}

.filter .form-control {
    display: inline;
}

.filter .filter-submit {
    margin-top: 25px;
}

.navbar {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.card {
  @extend .card;
  -webkit-box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.2);
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.badge-primary {
  @extend .badge-primary;
  background-color: $primary-color;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: $text-color
}

.section-subtitle {
  font-weight: normal;
  font-size: 17px;
  color: $text-color
}

.top-spacing {
  margin-top: 20px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  padding-bottom: 40px;
  width: 100%;
  height: 400px;
}

.first-slide-label {
    color: white;
}

.second-slide-label {
    color:white;
}

.third-slide-label {
    color:white;
}
