#main
  %h2.header Edit location

  =form_for @location, :method => :put do |f|
    =render 'location_form_template', form: f
    .field
      =f.submit "Update location", class: 'btn btn-primary'
      =link_to "Back to location", location_path(@location.id)
