#main.container
  =flash[:error]
  %h3.header New location

  =form_for @location, :method => :post do |f|
    =render 'location_form_template', form: f
    .field
      =link_to "Back to Locations Page", locations_path, class: 'btn btn-outline-secondary btn-sm'
      =f.submit "Create Location", class: 'btn btn-primary btn-sm'
