%meta{ property: "og:title", content: og.title }
%meta{ property: "og:type", content: og.type }
%meta{ property: "og:url", content: og.url }
- if og.has_image?
  %meta{ property: "og:image", content: og.image_url }
